<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Parkinsons disease prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body >
 <div class="login">
	<div class="heading-h1">
	<font size="6">
    <h1>Parkinsons Disease Prediction</h1>
  </div>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="MDVP:Fo(Hz)" placeholder="MDVP:Fo(Hz)" required="required" />
        <input type="text" name="MDVP:Fhi(Hz)" placeholder="MDVP:Fhi(Hz)" required="required" />
		<input type="text" name="MDVP:Flo(Hz)" placeholder="MDVP:Flo(Hz)" required="required" />
		<input type="text" name="MDVP:Jitter(%)" placeholder="MDVP:Jitter(%)" required="required" />
		<input type="text" name="MDVP:Jitter(Abs)" placeholder="MDVP:Jitter(Abs)" required="required" />
		<input type="text" name="MDVP:RAP" placeholder="MDVP:RAP" required="required" />
		<input type="text" name="MDVP:PPQ" placeholder="MDVP:PPQ" required="required" />
		<input type="text" name="Jitter:DDP" placeholder="Jitter:DDP" required="required" />
		<input type="text" name="MDVP:Shimmer" placeholder="MDVP:Shimmer" required="required" />
		<input type="text" name="MDVP:Shimmer(dB)" placeholder="MDVP:Shimmer(dB)" required="required" />
		<input type="text" name="Shimmer:APQ3" placeholder="Shimmer:APQ3" required="required" />
		<input type="text" name="Shimmer:APQ5" placeholder="Shimmer:APQ5" required="required" />
		<input type="text" name="MDVP:APQ" placeholder="MDVP:APQ" required="required" />
		<input type="text" name="Shimmer:DDA" placeholder="Shimmer:DDA" required="required" />
		<input type="text" name="NHR" placeholder="NHR" required="required" />
		<input type="text" name="HNR" placeholder="HNR" required="required" />
		<input type="text" name="RPDE" placeholder="RPDE" required="required" />
		<input type="text" name="DFA" placeholder="DFA" required="required" />
		<input type="text" name="spread1" placeholder="spread1" required="required" />
		<input type="text" name="spread2" placeholder="spread2" required="required" />
		<input type="text" name="D2" placeholder="D2" required="required" />
		<input type="text" name="PPE" placeholder="PPE" required="required" />

    <button type="submit" class="btn btn-primary btn-block btn-large">Diagnose</button>
    </form>


   <font size="7"> 
   <p><b>{{ prediction_text }}</b></p>

 </div>


</body>
</html>