<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Parkinsons disease prediction</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/css/style.css">

</head>

<body >
 <div class="login">
    <div class="heading-h1">
        <font size="6">
        <h1>Parkinsons Disease Detection</h1>
    </div>
    <div class="result">
        <font size="7"> 
	    <p><b>{{ prediction_text }}</b></p>
    </div>

    <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" name="MDVP:Fo(Hz)" placeholder="MDVP:Fo(Hz) value" required="required" />
        <input type="text" name="MDVP:Fhi(Hz)" placeholder="MDVP:Fhi(Hz) value" required="required" />
		<input type="text" name="MDVP:Flo(Hz)" placeholder="MDVP:Flo(Hz) value" required="required" />
		<input type="text" name="MDVP:Jitter(%)" placeholder="MDVP:Jitter(%) value" required="required" />
		<input type="text" name="MDVP:Jitter(Abs)" placeholder="MDVP:Jitter(Abs) value" required="required" />
		<input type="text" name="MDVP:RAP" placeholder="MDVP:RAP value" required="required" />
		<input type="text" name="MDVP:PPQ" placeholder="MDVP:PPQ value" required="required" />
		<input type="text" name="Jitter:DDP" placeholder="Jitter:DDP value" required="required" />
		<input type="text" name="MDVP:Shimmer" placeholder="MDVP:Shimmer value" required="required" />
		<input type="text" name="MDVP:Shimmer(dB)" placeholder="MDVP:Shimmer(dB) value" required="required" />
		<input type="text" name="Shimmer:APQ3" placeholder="Shimmer:APQ3 value" required="required" />
		<input type="text" name="Shimmer:APQ5" placeholder="Shimmer:APQ5 value" required="required" />
		<input type="text" name="MDVP:APQ" placeholder="MDVP:APQ value" required="required" />
		<input type="text" name="Shimmer:DDA" placeholder="Shimmer:DDA value" required="required" />
		<input type="text" name="NHR" placeholder="NHR value" required="required" />
		<input type="text" name="HNR" placeholder="HNR value" required="required" />
		<input type="text" name="RPDE" placeholder="RPDE value" required="required" />
		<input type="text" name="DFA" placeholder="DFA value" required="required" />
		<input type="text" name="spread1" placeholder="spread1 value" required="required" />
		<input type="text" name="spread2" placeholder="spread2 value" required="required" />
		<input type="text" name="D2" placeholder="D2 value" required="required" />
		<input type="text" name="PPE" placeholder="PPE value" required="required" />
    
    <button type="submit" class="btn btn-primary btn-block btn-large">Diagnose</button>
    </form>
    
    <ul>
        <li><b>MDVP:Fo(Hz)</b> - Average vocal fundamental frequency</li>
        <li><b>MDVP:Fhi(Hz)</b> - Maximum vocal fundamental frequency</li>
        <li><b>MDVP:Flo(Hz)</b> - Minimum vocal fundamental frequency</li>
        <li><b>MDVP:Jitter(%), MDVP:Jitter(Abs), MDVP:RAP, MDVP:PPQ, Jitter:DDP</b> - Several measures of variation in fundamental frequency</li>
        <li><b>MDVP:Shimmer, MDVP:Shimmer(dB), Shimmer:APQ3, Shimmer:APQ5, MDVP:APQ, Shimmer:DDA</b> - Several measures of variation in amplitude</li>
        <li><b>NHR, HNR</b> - Two measures of ratio of noise to tonal components in the voice</li>
        <li><b>RPDE, D2</b> - Two nonlinear dynamical complexity measures</li>
        <li><b>DFA</b> - Signal fractal scaling exponent</li>
        <li><b>spread1, spread2, PPE</b> - Three nonlinear measures of fundamental frequency variation</li>
            </ul>
    
 </div>

</body>
</html>